// app global css in SCSS form

@font-face {
  font-family: redondinho;
  src: url(./fonts/italinho.otf);
}

@font-face {
  font-family: titulinho;
  src: url(./fonts/BDPBIRGULA.ttf);
}

@font-face {
  font-family: titulinho1;
  src: url(./fonts/italinhoGrosso.otf);
}

@font-face {
  font-family: titulinho2;
  src: url(./fonts/italinhoGrossao.otf);
}

@font-face {
  font-family: textinho1;
  src: url(./fonts/coolvetica.otf);
}